header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
}

nav {
  background-color: gray;
  display: flex;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

main {
  padding: 1
